/*
CSS file for basic AMXM/AIXM documentation
$Date: 2007/10/23  $
$Revision: 1.1 $
*/

body {
	background: #FFFFFF;
	margin: 10px;
	font-family: "Arial", "Helvetica", "sans-serif";
}

div.toc {
	width: 300px;
	position: absolute;
	left: 0cm;
	top:0cm;
	background-color:#E5EEF8;
	border: 2px dotted black;
	font-size: 10pt;

}
div.content{
	position: absolute;
	left: 310px;
	top:0cm;
}

p {
	padding-bottom: 5px;
	margin: 0px;
}

h1 {
	font-size: 1.5em;
	width: 100%;
	background: #6699cc;
	padding-left: 4px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: white;
	border-style: solid; 
	border-width: 1px; 
	border-color: black;
}

h2 {
	font-size: 1em;
	width: 100%;
	background: #6699cc;
	padding-left: 4px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: white;
	border-style: solid; 
	border-width: 1px; 
	border-color: black;
}

h3 {
	font-size: 1em;
	color: #6699cc;
	
}

h4 {
	font-size: 1em;
	margin-bottom: 0;
	color: #6699cc;
}
h5 {
	font-size: 1em;
	font-style: italic;
	margin-bottom: 0;
	color: #6699cc;
}

ul {
	list-style-type: none;
	font-size: 0.8em;
	font-family: "Arial", "Helvetica", "sans-serif";
}
table.full {
	border: solid #000000 1px;
	width: 100%;
}

table.intro {
	border: solid #000000 1px;
	width: 100%;
	background-color: #6699cc;
}

thead {
	background-color: #E5EEF8;
} 

tfoot {
	background-color: #F0F8FF;
}

th {
	vertical-align: top;
	border-width: 1px;
	padding: 4px;
	margin: 4px;
	/*color: #6699cc;*/
	font-family: "Arial", "Helvetica", "sans-serif";
	width: 25%;
}

td {
	vertical-align: top;
	border-width: 1px;
	padding: 4px;
	margin: 4px;
	color: #000000;
	font-size: 0.9em;
	font-family: "Arial", "Helvetica", "sans-serif";
	width: 25%;
}



